.filters-container {
  margin: 10px 0 31px;
}

.filters-heading {
  display: flex;
  justify-content: space-between;
}

.select-filters {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: #949494;
}

.filter-icon {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  width: 20px;
  height: 20px;
}

.filters-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.filter {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  color: #737373;
  cursor: pointer;
}

.filter.selected {
  border: 1px solid #4c82ef;
  background: #f6f9ff;
  color: #4c82ef;
}

.cross {
  width: 15px;
  height: 15px;
}
