.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #eff3fd;
  border-radius: 20px 20px 0 0;
  padding: 15px 20px;
}

.bot {
  display: flex;
  gap: 10px;
}

.bot-image {
  position: relative;
  width: 50px;
  height: 50px;
}

img {
  display: block;
  width: 100%;
}

.status-indicator {
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #3fe225;
}

.status-indicator.avatar-indicator {
  position: absolute;
  top: 40px;
  left: 38.5px;
}

.status-indicator.offline {
  background-color: #e22532;
}

.bot-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bot-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bot-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #4c82ef;
}

.bot-badge {
  width: 15px;
  height: 15px;
}

.bot-type {
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #4c82ef;
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #4c82ef;
}
