.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: #b1b1b1;
  margin-top: 10px;
}

.powered-by span {
  font-weight: 600;
  color: #7a7f8c;
}

.krunk-logo {
  width: 18px;
  height: 18px;
}
